.p1{
	position: fixed;
	top:0;
	left: 0;
	height:100%;
	width:100%;
	z-index:-10; 
	margin:0;
	padding:0;
	overflow:hidden;
}
.video{
	top:0;
	left:0;
	min-height: 100%;
	min-width: 100%;
	height:auto;
	width:auto;
	transform: translateY(0) translateX(0);
	margin:0;
	padding:0;
	position: fixed;
}
.hpanim{
	position: absolute;
	top: 45%;
	left: 45%;
	font-family:'Arial', Cursive;
	font-size:50px;
	list-style-type:none;
	display: inline-block;
	color: white;
	transform: translateX(-40%) translateY(-40%);
	opacity:1;
}
.hpanim:hover{
	cursor:default;
}
.hpanim li{
	display: inline-block;
	margin-right:15px;
	font-weight: 300;
	transition:all 0.1s;
	-webkit-transition:all 0.1s;
}

